<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="EUC-KR">
<link rel="stylesheet" th:href="@{/css/footer.css}">
<link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gamja+Flower&family=Gowun+Dodum&family=Poor+Story&display=swap" rel="stylesheet">
<title>Insert title here</title>
</head>
<body>
	<footer>
		    <div align="center" style="width:100%; margin-top:10px;">Copyright 2022. JuYoung Co., LTD. All rights reserved.</div>
	</footer>

</body>
</html>